body {
    font-family: -apple-system, Avenir, "Lucida Grande";
    margin: 0;
}

p {
    line-height: 1.4rem;
}

img {
    width: 100%;
    height: auto;
}

a {
    color: inherit;
}

code.highlighter-rouge {
    padding: 2px 5px 2px;
    font-family: Menlo, monospace;
    font-size: 0.8em;
    font-weight: 400 !important;
    color: black;
    background: rgba(229, 239, 245, 0.8);
    border-radius: 3px
}

blockquote {
  border-left: 2px solid #bbb;
  margin: 0;
  padding: 0.25em 0.75em;
  opacity: 0.75;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ccc;
  text-align: left;
  padding: 0.5em;
}

th {
  background-color: #eee;
}

.comment {
    display: unset ! important;
}

.header {
    padding: 1rem 0 1rem 1rem;
    background-color: #7f7f7f;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.progress-container {
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 5px;
    margin-top: 3.5rem;
}
  
.progress-bar {
    height: 5px;
    background: #007AFF;
    width: 0%;
}

.home {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: calc(4rem + env(safe-area-inset-bottom));
    align-content: flex-start;
    justify-content: center;
    margin: 4rem 0 0 0;
    width: 100%
}

.post-card {
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 8px 14px 38px rgba(39,44,49,0.16), 1px 3px 8px rgba(39,44,49,0.08);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    width: calc(100% - 4rem);
    transition: all .5s ease;
}

.post-card:hover {
    box-shadow: 8px 14px 38px rgba(39,44,49,0.3), 1px 3px 8px rgba(39,44,49,0.15);
}

.post-card-image {
    border-radius: 12px 12px 0 0;
    margin: -1rem;
    margin-bottom: 0.5rem;
    width: calc(100% + 2rem);
    height: 150px;
    object-fit: cover;
}

.post {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 4rem;
    padding-bottom: calc(3rem + env(safe-area-inset-bottom));
    width: calc(100% - 2rem);
    max-width: 800px;
}

.post-title {
    font-size: 2rem;
    word-wrap: break-word;
}

.date {
    margin-top: -15px;
    margin-bottom: 2rem;
    color: #007AFF;
}

.footer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: 5%;
    padding: 1rem 0 1rem 0;
    padding-bottom: max(1rem, env(safe-area-inset-bottom));
    bottom: 0px;
    color: rgb(131, 129, 129);
    border-top: 1px solid lightgray;
    font-size: 0.8rem;
    width: 90%;
}

@media (min-width: 768px) {
    .post-card {
        width: 260px;
    }

    .footer {
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: 1000px;
    }

    .post-title {
        font-size: 3rem;
    }

    .header {
        padding-left: 3rem;
    }

    .home {
        max-width: 1500px;
        flex-direction: row;
        margin: auto; 
        margin-top: 5rem;
        left: 0;
        right: 0;
    }
}

@media (min-width: 1500px) {
    .footer {
        max-width: 1500px;
    }

    .post {
        max-width: 1100px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: black;
    }

    .footer {
        border-color: rgb(126, 126, 126);
        color: rgb(185, 184, 184);
    }

    .header {
        background-color: #2B2D2F;
    }

    .post-card {
        background-color: #2B2D2F;
    }

    .post-card:hover {
        background-color: rgb(71, 74, 76);
    }
}