<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="alternate" type="application/atom+xml" title="Tim Roesner’s blog" href="/feed.xml">
        <link rel="stylesheet" type="text/css" href="/assets/css/index.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/themes/prism-okaidia.min.css" rel="stylesheet" async/>
    </head>

    <body>
        <div style="position: absolute; width: 100%; min-height: 100vh;">
            <div class="header" onclick="location.href='/';" style="cursor: pointer;">
                Tim Roesner's Blog
            </div>
            {{ content }}
            <div class="footer">
                    <span> &copy;
                        <script type="text/javascript">
                            document.write(new Date().getFullYear());
                        </script>
                        <a href="https://timroesner.com">Tim Roesner</a>
                    </span>
                    <div style="width: calc(2*26px); display: flex; justify-content: space-between;">
                        <a href="/feed.xml" title="RSS feed">
                            <img src="/assets/images/rss.png" alt="rss-icon" style="height: 15px; width: auto;" />
                        </a>
                        <a href="https://twitter.com/timroesner" title="Tim's Twitter profile">
                            <img src="/assets/images/twitter.png" alt="twitter-icon" style="height: 15px; width: auto;" />
                        </a>
                    </div>
            </div>
        </div>
    </body>
</html>