---
layout: main
---
<div class="progress-container">
     <div class="progress-bar" id="scroll-bar"></div>
</div> 
<div class="post">
    <div style="text-align: center; margin-top: 5rem;">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="date">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    {{ page.date | date: date_format }}
            </time>
        </p>
    </div>
    {{ content }}
</div>

<script>
    window.onscroll = function() {didScroll()};

    function didScroll() {
        var winScroll = document.body.scrollTop;
        var height = document.body.scrollHeight - document.documentElement.clientHeight;
        var scrolled = (winScroll / height) * 100;
        document.getElementById("scroll-bar").style.width = scrolled + "%";
    }
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-swift.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-css.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-html.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-js.min.js"></script>