---
layout: main
---
<div class="progress-container">
     <div class="progress-bar" id="scroll-bar"></div>
</div> 
<div class="post">
    <div id="post-content">
        <div style="text-align: center; margin-top: 5rem;">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="date">
                <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                        {{ page.date | date: date_format }}
                </time>
            </p>
        </div>
        {{ content }}
    </div>
    {%- if page.previous -%}
    <h2 style="margin-top: 3rem">Next Post:</h2>
    <div class="post-card" onclick="location.href='{{ page.previous.url | relative_url }}'" style="cursor: pointer; width: calc(100% - 2rem); margin: 1rem 0 2rem 0;" >
        {%- if page.previous.image -%}
            <img class="post-card-image" src="/assets/images/{{ page.previous.image }}" alt="next-post"/>
        {%- endif -%}
        <h3 style="word-wrap: break-word; margin-block-end: 0.5rem; margin-block-start: 0;">
            {{ page.previous.title | escape }}
        </h3>
        <footer style="color: #007AFF;">
            <time datetime="{{ page.previous.date | date_to_xmlschema }}" itemprop="datePublished">
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    {{ page.previous.date | date: date_format }}
            </time>
        </footer>
    </div>
    {%- endif -%}
</div>

<script>
    window.onscroll = function() { didScroll() };

    function didScroll() {
        var winScroll = Math.max(document.body.scrollTop - 90, document.documentElement.scrollTop);
        var height = document.getElementById("post-content").scrollHeight - document.documentElement.clientHeight;
        var scrolled = (winScroll / height) * 100;
        document.getElementById("scroll-bar").style.width = scrolled + "%";
    }
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/prism.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/components/prism-swift.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/components/prism-css.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/components/prism-html.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/components/prism-js.min.js"></script>